<ion-view view-title="بحث">
    <ion-content>
        <div dir="rtl">

            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon" ></i>
                    <input type="search" placeholder="اسم تلميذ أو رقم ترتيبه" style="margin-right: 6px">
                </label>
                <button class="button button-clear">
                    إلغاء
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>