<ion-view view-title="تأريخ الغياب">
    <ion-content scroll="true">
        <div class="card" dir="rtl">
            <div class="item item-text-wrap">
                <div id="hdr-history-abcense" >
                    <div style="font-weight:bold">
                        <span>السبت 31 دجنبر 2016</span>
                        <span>الحصة :3-4</span>
                    </div>
                    <div style="font-weight: bold;color: crimson">TCLSH 2</div>
                    <span>المتغيبون</span>
                    <ul style="display: block;font-size: 0.9em;padding-right:20px;list-style-type:square">
                        <li>
                            <span>كريم جيلالي</span>
                            <span style="font-size: 0.9em">(07)</span>
                        </li>
                        <li>
                            <span>طارق البوقالي</span>
                            <span style="font-size: 0.9em">(30)</span>
                        </li>
                        <li>
                            <span>طارق البوقالي</span>
                            <span style="font-size: 0.9em" >(41)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>