
<ion-view view-title="الصفحة الرئيسة">
  <ion-content>
    <div class="card" dir="rtl">
      <div class="item item-text-wrap">

        <div>
          <p class="hdr-title" style="margin-bottom: 12px;"> نُبذة عن التطبيق</p>
          <div style="margin-bottom: 6px" class="hdr-parag" >
            <p >
              يقدم تطبيق
              <span style="color:red"> "حضور"</span>
              طريقة لإنجاز عملية النداء التي يقوم بها الأساتذة خلال الحصص الدراسية لتحديد المتغيب من التلاميذ، لكن هذه المرة باستعمال الهاتف
              الذكي.
            </p>
            <p>
              أيضا، يعمل التطبيق على تسجيل الغياب و تتبع حضور التلاميذ.  
            </p>
            <p>هذا و سيتوفر التطبيق تدريجيا على و ظائف ستساعد المدرسين و المدرسات في مهامهم داخل الفصل و خارجه.</p>
          </div>
          <br/>
          <p>
            <img src="img/hodoor_pic.jpg" width="100%">
          </p>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <!-- <div class="card" dir="rtl">
      ***
    </div> -->


  </ion-content>
</ion-view>