<ion-view view-title="الصفحة الرئيسة">
  <ion-content>
    <div class="card " dir="rtl">
      <div class="item item-text-wrap">

        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> نُبذة عن التطبيق</div>
          <div>

            يقدم تطبيق
            <span style="color:red"> "حضور 7odoor"</span>
            طريقة لإنجاز عملية النداء خلال الحصص الدراسية لتحديد المتغيبين من التلاميذ باستعمال الهاتف الذكي.
            <br/> يأتي هذا التطبيق ضمن الأدوات الرقمية المحمولة المُعينة للمدرس خلال الممارسة الصفية، حيث يوظف إمكانات تكنلوجيا
            المعلومات والاتصال ليبسط و يرقمن تتبع حضور و مواظبة المتمدرسين، كما يوفر كذلك إمكانية تدوين ملاحظات تهم الحصص
            و التلاميذ كلٌ على حدة.
          </div>
          <br/>
          <p style="text-align: center">
            <img src="img/hodoor_pic.png" width="100%">
          </p>
          <div>
            جدير بالذكر أن هذا التطبيق صُمم لكي يتتبع مواظبة التلاميذ لكل مدرس بشكل مستقل، كما صُمم كذلك للعمل دون الحاجة للربط بشبكة
            الأنترنت.
            <br>
            <br>
            <div class="hdr-title" style="margin-bottom: 12px;">كيف يعمل التطبيق؟</div>
            لا يعتمد التطبيق على اسم المستخدم و كلمة المرور لتحديد هوية المستخدم، لكي يتأكد التطبيق من أن المستخدم هو أحد المدرسين، يحب
            أن يتوفر هاتف هذا الأخير على ملف لوائح التلاميذ المُصدَّرة من موقع "مسار" عن طريق اختيار التصدير حسب الأستاذ.
            <br/>
            <div style="text-align: center">
              <img src="img/massar-export01.png" width="75%" style="padding: 8px;" alt="">
              <img src="img/phone-exportcc.png" width="22%" alt="">
            </div>
            بعد ذلك، يمكن للمدرس أن يزود التطبيق بلوائح التلاميذ عن طريق تبويبة الأقسام
            <span class="icon ion-android-contacts"></span>.
          </div>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <div class="card " dir="rtl">
      <p style="padding: 16px" class="hdr-parag">
        للمزيد من التفاصيل و التعرف على طريقة إشتغال التطبيق بمزيد من التوضيح، المرجو الإطلاع على المدونة الخاصة بالتطبيق على الرابط
        التالي :
        <!--  <a href="http://7odoor.blogspot.com/" target="_blank" style="font-size: 16px"></a> -->
        <button class="button button-outline button-block" ng-click="goToBlog()">7odoor.blogspot.com</button>
      </p>

    </div>

    <!-- <div class="card" dir="rtl">sty
      ***
    </div> -->


  </ion-content>
</ion-view>