
<ion-view view-title="الصفحة الرئيسة">
  <ion-content >
    <div class="card " dir="rtl">
      <div class="item item-text-wrap">

        <div>
          <div class="hdr-title" style="margin-bottom: 12divx;"> نُبذة عن التطبيق</div>
          <div class="hdr-parag"  >
            
              يقدم تطبيق
              <span style="color:red"> "حضور"</span>
              طريقة لإنجاز عملية النداء التي يقوم بها الأساتذة خلال الحصص الدراسية لتحديد المتغيب من التلاميذ، لكن هذه المرة باستعمال الهاتف
              الذكي.
              أيضا، يعمل التطبيق على تسجيل الغياب و تتبع حضور التلاميذ.  
            <br/>
            هذا و سيتوفر التطبيق تدريجيا على و ظائف ستساعد المدرسين و المدرسات في مهامهم داخل الفصل و خارجه.
          </div>
          <br/>
          <p>
            <img src="img/hodoor_pic.jpg" width="100%" style="border-bottom:6px solid black">
          </p>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <!-- <div class="card" dir="rtl">
      ***
    </div> -->


  </ion-content>
</ion-view>