<style>
    #hdr-updatesession {
        width: 100%;
        border-radius: 20px;
        background-color: lightgreen;
    }

    #hdr-updatesession td {
        /* border: 1px solid green; */
        font-size: 1.5em;
        padding: 4px;
        text-align: center;
        vertical-align: middle
    }
</style>

<div dir="rtl" class="hdr-help-popup">
    <table id="hdr-updatesession">
        <tr>
            <td style="width: 45%">من</td>
            <td></td>
            <td style="width: 45%">الى</td>
        </tr>
        <tr style="height: 50px">
            <td style="padding: 0;background-color: rgba(6, 36, 6, 0.044);border-bottom-right-radius:20px">
                <input type="number" maxlength="3" style="background-color: transparent;text-align: center;height: 100%;font-size: 1.5em" ng-model="$parent.hStart"                 />
            </td>
            <td style="font-size: 3em">-</td>
            <td style="padding: 0;background-color: rgba(6, 36, 6, 0.044);border-bottom-left-radius:20px ">
                <input type="number" maxlength="3" style="background-color:transparent;text-align: center;height: 100%;font-size: 1.5em" ng-model="$parent.hEnd"
                />
            </td>
        </tr>
    </table>
</div>