<style type="text/css">

	.appeal-abstent-student{
		display: inline-block;
		font-size: 1.6em;
		width: 100%;
		color: crimson
	}

	.appeal-abstent-student span{
		display: inline-block;
		padding:12px 4px 6px 0px;
	}
</style>


<div class="appeal-abstent-student" style="border: 1px solid lightgray;;padding: 8px;padding-top: 0px">
	<span ng-repeat="student in absentStudents"><b>{{student.number | hdrnumber}}</b><i ng-show="!$last">, </i><i ng-show="$last">.</i></span>
</div>
<div dir="rtl" style="margin-top: 30px;font-size: 0.8em">قبل تسجيل الغياب، حدد الحصة الزمنية المناسية. </div>
<div style="font-size: 12em; background: none;margin: auto;margin-top: 10px;width: 100%">
	<ion-list >
		<ion-radio ng-model="data.choice" ng-value="catchedSessions[0]"><i class="icon ion-android-time"> {{catchedSessions[0]}}</i> <span>(ساعة)</span></ion-radio>
		<ion-radio ng-model="data.choice" ng-value="catchedSessions[1]" ><i class="icon ion-android-time"> {{catchedSessions[1]}}</i> <span>(ساعتين)</span></ion-radio>
	</ion-list>
</div>