<ion-view view-title="نداء : {{classroom.title}}">

  <ion-content scroll="false" style="background-color: #E3DCDC">

    <div class="list" style="margin-bottom: 0px;">

      <div class="item item-button-left" dir="rtl" style="padding: 6px;padding-right: 12px">
        <div dir="rtl" style="font-size: 0.8em;" class="positive">
          </span> <b>{{today}} </b></div>
        <span style="font-size: 0.8em !important;">أرقام المتغيبين </span><span ng-repeat="student in absentStudents" style="font-size: 0.8em !important;"><b> {{student.queuing_number| hdrnumber}}</b>,</span>

        <button class="button button-positive" ng-show="isFirstSlide" ng-click="showPopup()">
                      <i class="icon ion-ios-keypad"></i>
                    </button>

      </div>

    </div>

    <ion-slide-box on-slide-changed="slideHasChanged($index)">

      <ion-slide ng-repeat="subArray in studentsDistribuedBy5InArray" ng-style="{'height': (deviceHeight*(4/5))+'px' ,'background-color':'#E3DCDC'}">
        <hdr-student-card-appeal ng-repeat="student in subArray "></hdr-student-card-appeal>

        <div dir="rtl" ng-show="$first" style="font-size: 2vmax;padding-right: 3vmax;position: relative;top:-2vh" class="dark"> <i class="ion-record"></i> نهاية اللائحة </div>

      </ion-slide>

    </ion-slide-box>


  </ion-content>
</ion-view>