<!-- 
<li class="item hdr-list-item" id="{{student.id}}" ">



</li> -->

<div style="background-color: white;">
  <button class="button button-small button-outline" style="width: 100%;text-align: right;border:0;border-bottom: 1px solid rgba(128, 128, 128, 0.208);padding:4px"
    ng-click="goToStudentView(student)" >
    <table class="classroom_item" style="width: inherit">
      <tr>
        <td style="text-align: center;height: 6vh;font-size: 18px;width: 12%">
            <div>{{student.queuing_number|hdrnumber}} </div>
        </td>
        <td width="" style="padding-right: 10px;">
          <div>
            <div class="hdr-main-text positive">{{student.full_name}}</div>
            <div class="hdr-sub-text">
              <i class="ion-android-bookmark"></i>
              <span ng-if="student.birth_date">{{student.birth_date|hdrage}}</span>
              <span ng-if="!student.birth_date"> 16 عام و نصف</span>
            </div>

          </div>
        </td>
        <td ng-if="classroom_title" style="text-align: left;font-size: 14px;">
          <div style="padding-left: 10px"> {{classroom_title}}</div>
        </td>
      </tr>
    </table>
  </button>
</div>