

<ion-view view-title="لائحة الأقسام" cache-view="false">

    <ion-content dir="rtl">
        <div ng-show="classrooms_view.length>0">


            <!--  <ion-spinner ng-if="tapped" icon="lines" class="spinner-assertive" style="position: absolute;top: 35%;left: 35%;z-index: 500"></ion-spinner> -->

            <div class="item item-divider dark title hdr-sub-title" style="font-size: 13px;">


                <table style="width: 105%">
                    <tr>
                         <td> هناك {{students_count_global}} تلميذ وتلميذة موزعين على {{classrooms_view.length}} أقسام.
                            <br/> بمعدل {{(students_count_global/classrooms_view.length)|number:1}} تلميذ في القسم.
                        </td>
                        <td style="text-align: left;vertical-align: middle">
                            <button class="button button-clear ion-ios-information-outline" style="font-size: 30px;" ng-click="showHelpPopup()"></button>
                        </td>
                    </tr>
                </table>
            </div>

            <ul class="list">

                <li class="item hdr-list-item" style="padding:0;height: auto" ng-repeat="classroom in classrooms_view" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

                    <div class="hdr-classroom-container">
                        <div id="hdr-item0" class="hdr-item">
                            <button class="button button-outline" ng-click="showActionSheet(classroom)">
                                <i class="ion-android-more-vertical"></i>
                            </button>
                        </div>
                        <div id="hdr-item1" class="hdr-item" style="position: relative">

                            <button class="button button-outline" id="{{classroom.id}}" ng-click="startAttendanceCall(classroom,'-1')">
                                <div class="hdr-main-text">
                                    <span class="positive">{{classroom.title}}</span>
                                </div>
                                <div class="hdr-sub-text dark">{{classroom.level}}</div>

                            </button>

                        </div>
                        <div id="hdr-item2" class="hdr-item">
                            <button class="button button-outline button-dark" ng-click="goToStudentsView(classroom)">
                                {{classroom.students.length}} تلميذ
                                <i class="ion-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <div class="dark padding">
                    <i class="ion-information-circled"></i>
                    <span> </span> لبدء عملية النداء، قم بنقر القسم المراد. </div>
            </ul>

        </div>
        <div ng-show="classrooms_view.length==0">
            <div dir="rtl" style="padding: 18px" class="hrd-parag">
                <span class="icon ion-alert-circled" style="font-size: 8vmax"></span>
                <p class="hdr-title">لا يتوفر التطبيق على بيانات التلاميذ بعد.</p>
                <br/>

                <div class="hdr-parag">
                    عن طريق هاتفك، قم بتصدير لوائح الأقسام من موقع منظومة مسار ( قم باختيار التصدير حسب الأستاذ)
                    <br> بعد ذلك، إضغط على الزر -حدد ملف التصدير- ثم قم بتحديد ملف التصدير الذي تم تحميله في الخطوة الأولى.
                </div>
            </div>

            <div style="text-align: center;display:table-cell;vertical-align: middle">
                <br/>

                <button class="button icon-right ion-plus button-large button-assertive" style="width:60%;;border-radius: 100px" ng-click="zipFilesAndImportClassrooms()">
                    حدد ملف التصدير
                </button>

                <br/>
                <br/>
                <p dir="rtl" style="padding: 18px;" class="hdr-parag hdr-second-txt">يمكن كذلك استعمال بيانات محاكاتية مدمجة مع التطبيق، هذه البيانات تمكن من أخذ فكرة عملية حول التطبيق قبل استخدام
                    معلومات الأقسام الخاصة بالأستاذ.
                </p>

                <button class="button" style="width:60%" ng-click="importSimulatedClassrooms()">
                    استعمال بيانات محاكاتية
                </button>

                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </ion-content>
</ion-view>