<style>
  /*   #ggh td {
    border: 1px solid red
  }
 */

  #hdr-absent-symbol {
    height: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /*     border: 1px solid lightslategray;
    background-color: chartreuse; */
    justify-content: center;
    align-content: flex-start;
  }

  .hdr-absent-symbol-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(228, 23, 23, 0.434);
    margin: 1px;
  }
</style>

<ion-view view-title="لائحة التلاميذ : {{classroom.title}}">

  <ion-content dir="rtl">


    <!--     <ul class="list" ui-sref="" ng-repeat="student in students_view">
      <hdr-student ng-repeat="student in students_view"></hdr-student>
    </ul> -->

    <div ng-show="classroom.students.length==0" style="text-align: center">
      <div style="padding-top: 20vh;" dir="rtl" class="h3 title dark"> في طور تجهيز لائحة التلاميذ.. </div>
      <ion-spinner icon="lines" class="spinner-assertive" style="font-size: 4vh"></ion-spinner>
    </div>

    <div ng-show="classroom.students.length>0">

      <div class="item item-divider dark title hdr-sub-title" style="font-size: 13px;">
        عدد التلاميذ : {{classroom.students.length}}
      </div>

      <ul class="list">
        <li class="item hdr-list-item" ng-repeat="student in classroom.students" ng-class="student.id%2==0 ?'hdr-item-odd':'hdr-item-even'"
          id="{{student.id}}" on-tap="goToStudentView(student)">

          <table class="classroom_item" id="ggh">
            <tr>
              <td style="width: 8%;text-align: center;height: 6vh;font-size: 3vmax;">
                <div style="width: 6vh">
                  <div>{{student.queuing_number|hdrnumber}} </div>
                </div>
              </td>
              <td style="width: auto;padding-right: 10px;padding-left: 10px">
                <div>
                  <div class="hdr-main-text positive">{{student.full_name}}</div>
                  <div class="hdr-sub-text">
                    <i class="ion-android-bookmark"></i> {{student.birth_date|hdrage}}</div>
                </div>
              </td>
              <td style="width: 80%;">
                <div id="hdr-absent-symbol">
                  <div class="hdr-absent-symbol-item" ng-repeat="t in student.times track by $index"></div>
<!--                    <div class="hdr-absent-symbol-item"></div>
                   <div class="hdr-absent-symbol-item"></div>
                   <div class="hdr-absent-symbol-item"></div>
                   <div class="hdr-absent-symbol-item"></div> -->
                  

                </div>
              </td>
            </tr>
          </table>

        </li>
        <i class="ion-information-circled"></i> للإطلاع على مزيد من التفاصيل، قم بنقر التلميذ المراد. </div>
    </ul>

    </div>

  </ion-content>
</ion-view>