<style>
  /*   #ggh td {
    border: 1px solid red
  }
 */

  #hdr-absent-symbol {
    height: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /*     border: 1px solid lightslategray;
    background-color: chartreuse; */
    justify-content: center;
    align-content: flex-start;
  }

  .hdr-absent-symbol-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(228, 23, 23, 0.434);
    margin: 1px;
  }
</style>

<ion-view view-title="لائحة التلاميذ : {{classroom.title}}">

  <ion-content dir="rtl">


    <!--     <ul class="list" ui-sref="" ng-repeat="student in students_view">
      <hdr-student ng-repeat="student in students_view"></hdr-student>
    </ul> -->

    <div ng-show="classroom.students.length==0" style="text-align: center">
      <div style="padding-top: 20vh;" dir="rtl" class="h3 title dark"> في طور تجهيز لائحة التلاميذ.. </div>
      <ion-spinner icon="lines" class="spinner-assertive" style="font-size: 4vh"></ion-spinner>
    </div>

    <div ng-show="classroom.students.length>0">

      <div class="item item-divider dark title hdr-sub-title" style="font-size: 13px;">
        عدد التلاميذ : {{classroom.students.length}}
      </div>

      <hdr-student ng-repeat="student in classroom.students" ng-init="showborder=true;showtitle=false" ></hdr-student>


    </div>

  </ion-content>
</ion-view>