<ion-view view-title="القسم : {{classroom.title}}">

  <ion-content dir="rtl">


    <!--     <ul class="list" ui-sref="" ng-repeat="student in students_view">
      <hdr-student ng-repeat="student in students_view"></hdr-student>
    </ul> -->

    <div ng-show="students.length==0" style="text-align: center">
      <div style="padding-top: 20vh;" dir="rtl" class="h3 title dark"> في طور تجهيز لائحة التلاميذ.. </div>
      <ion-spinner icon="lines" style="font-size: 4vh"></ion-spinner>
    </div>

    <div ng-show="students.length>0">

      <div class="item item-divider dark title hdr-sub-title" style="font-size: 13px;">
        عدد التلاميذ : {{classroom.students_count}}
      </div>

      <ul class="list">
        <li class="item hdr-list-item" ng-repeat="student in students" ng-class="student.id%2==0 ?'hdr-item-odd':'hdr-item-even'"
          id="{{student.id}}" on-double-tap="goToStudentView(student)">

          <table class="classroom_item">
            <tr>
              <td style="text-align: center;height: 6vh;font-size: 3vmax;">
                <div style="width: 6vh">
                  <div>{{student.queuing_number|hdrnumber}} </div>
                </div>
              </td>
              <td width="94%" style="padding-right: 10px;">
                <div>
                  <div class="hdr-main-text positive">{{student.full_name}}</div>
                  <div class="hdr-sub-text"> <i class="ion-android-bookmark"></i> {{student.birth_date|hdrage}}</div>
                </div>
              </td>
            </tr>
          </table>

        </li>
        <div style="font-size: 2vmax;" class="dark padding"> <i class="ion-information-circled"></i> للإطلاع على مزيد من التفاصيل، قم بنقر التلميذ مرتين. </div>
      </ul>
    </div>

  </ion-content>
</ion-view>